<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container border border-dark">
    <div class="row">
        <div class="col-sm-12">
            <br>
            <h2 mat-dialog-title>Description</h2>
        <mat-dialog-content>Java Programming for Beginners is an introduction to
            Java programming, taking you through the Java syntax and the fundamentals of object-oriented
            programming.
        
            About This Book • Learn the basics of Java programming in a step-by-step manner
        
            • Simple, yet thorough steps that beginners can follow
        
            • Teaches you transferable skills, such as flow control and object-oriented programming
        
            Who This Book Is For
        
            This book is for anyone wanting to start learning the Java language, whether you're a student, casual
            learner, or existing programmer looking to add a new language to your skillset. No previous experience
            of Java or programming in general is required
            
        </mat-dialog-content>
            <br>
            <button class="btn btn-danger" mat-button [mat-dialog-close]>Close</button>
        <br>
        <br>
        </div>
    </div>
</div>



